testexperiment:
  #filename_prefix: overridden_name
  #scenario_config_file: ./config/myscenarios.yml
  results_dir: results/test-experiments
  scenario: test
  num_trials: 2

  #generate_graphs: true
  #min_conjoint_utility: -8000
  #max_conjoint_utility: 1000

  # Should we output debugging information about the experiment?
  # Note that simulation and node debugging info is controlled in the scenario
  # configuration file.
  debug: false

  # Define your scenario variants to test here.  Results will be indexed with a
  # filename component matching the name of the variant.
  #
  # In this case, we have five variants, where node 0 uses the "broadcast",
  # "smooth", "step", "bandit_example" and "ensemble_example" strategies
  # respectively. All other nodes use the default as defined in the scenario
  # (which in this case is "broadcast").
  #
  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step


# Attempt at some complex scenarios
complex1:
  scenario: complex1
  num_trials: 30
  debug: false
  results_dir: results/dynamics-sudden/complex1

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

complex2:
  scenario: complex2
  num_trials: 30
  debug: false
  results_dir: results/dynamics-sudden/complex2

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

# Static scenario experiments

broadcastbest:
  scenario: scenario1
  num_trials: 30
  results_dir: results/baseline-scenarios/1-broadcast-best
  max_conjoint_utility: 8000

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

smoothbest:
  scenario: scenario2
  num_trials: 30
  results_dir: results/baseline-scenarios/2-smooth-best
  max_conjoint_utility: 8000

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

stepbest:
  scenario: scenario3
  num_trials: 30
  results_dir: results/baseline-scenarios/3-step-best
  max_conjoint_utility: 8000

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    # Default params are 0.95/0.001
    step:
      node_strategies:
        0:
            strategy: step

    #step_0.95/0.01:
      #node_strategies:
        #0:
            #strategy: step
            #step_epsilon: 0.95
            #step_eta: 0.01

    #step_0.99/0.001:
      #node_strategies:
        #0:
            #strategy: step
            #step_epsilon: 0.99
            #step_eta: 0.001

    #step_0.99/0.01:
      #node_strategies:
        #0:
            #strategy: step
            #step_epsilon: 0.99
            #step_eta: 0.01

    ucb1:
      node_strategies:
        0:
            strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step



# Sudden dynamics experiments

scenario12:
  scenario: scenario12
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario12

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

scenario13:
  scenario: scenario13
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario13

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

scenario21:
  scenario: scenario21
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario21

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

scenario23:
  scenario: scenario23
  results_dir: results/dynamic-scenarios/23-smooth-step
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario23

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

scenario31:
  scenario: scenario31
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario31

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step

scenario32:
  scenario: scenario32
  num_trials: 30
  results_dir: results/dynamics-sudden/scenario32

  scenario_variants:

    broadcast:
      node_strategies:
        0:
          strategy: broadcast

    smooth:
      node_strategies:
        0:
          strategy: smooth

    step:
      node_strategies:
        0:
          strategy: step

    ucb1:
      node_strategies:
        0:
          strategy: ucb1

    epsilon_greedy:
      node_strategies:
        0:
          strategy: epsilon_greedy

    adaptive_pursuit:
      node_strategies:
        0:
          strategy: adaptive_pursuit

    meta_bandit_epsilon_greedy:
      node_strategies:
        0:
          strategy: meta_bandit_epsilon_greedy

    #meta_ensemble_intersect_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_intersect_smooth_step

    #meta_ensemble_union_smooth_step:
      #node_strategies:
        #0:
          #strategy: ensemble_union_smooth_step
