testexperiment:
  #filename_prefix: overridden_name
  #scenario_config_file: ./config/myscenarios.yml
  results_dir: results/test-experiments
  scenario: test
  num_trials: 1
  debug: true

  # Define your scenario variants to test here.  Results will be indexed with a
  # filename component matching the name of the variant.
  #
  # In this case, we have five variants, where node 0 uses the "broadcast",
  # "smooth", "step", "bandit_example" and "ensemble_example" strategies
  # respectively. All other nodes use the default as defined in the scenario
  # (which in this case is "broadcast").
  #
  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

    bandit:
      node_strategies:
        0: bandit_example

    ensemble:
      node_strategies:
        0: ensemble_example


# Attempt at some complex scenarios
complex1:
  scenario: complex1
  num_trials: 30
  debug: true
  results_dir: results/dynamics-sudden/complex1

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step


complex2:
  scenario: complex2
  num_trials: 30
  debug: true
  results_dir: results/dynamics-sudden/complex2

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step


# Static scenario experiments

broadcastbest:
  scenario: scenario1
  num_trials: 30
  results_dir: results/baseline-scenarios/1-broadcast-best

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step


smoothbest:
  scenario: scenario2
  num_trials: 30
  results_dir: results/baseline-scenarios/2-smooth-best

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

stepbest:
  scenario: scenario3
  num_trials: 30
  results_dir: results/baseline-scenarios/3-step-best

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step


# Sudden dynamics experiments

scenario12:
  scenario: scenario12
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

scenario13:
  scenario: scenario13
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

scenario21:
  scenario: scenario21
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

scenario23:
  scenario: scenario23
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

scenario31:
  scenario: scenario31
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

scenario32:
  scenario: scenario32
  num_trials: 30

  scenario_variants:

    broadcast:
      node_strategies:
        0: broadcast

    smooth:
      node_strategies:
        0: smooth

    step:
      node_strategies:
        0: step

